.upload-task:hover{
  background: linear-gradient(135deg,#00B894 50%,#005242 100%);
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 5px;
  transition: 0.3s;
}
@media(max-width:676px){
  .nav li{
    margin: 5px auto;
  }
}
.done{
  border: 1px solid #06F347;
  background: #CCFFDA;
  opacity: 60%;
}
.fa-circle-check{
  color: #00A501;
  width: 50px !important;
  height: 50px !important;
}

.active-tab {
  background-color: #5D5FEF !important;
  color: white !important;
  box-shadow: 0 4px 10px rgba(93, 95, 239, 0.3);
}

.w-fit-content {
  width: fit-content;
}

.btn {
  transition: all 0.3s ease;
}
.response{
  margin: 5px !important;
  padding: 5px !important;
}
@media (max-width: 767px) {
  .nav-pills{
    margin: 5px auto !important;
    text-align: center !important;
  }
  .response{
    margin: 10px auto !important;
  }
  .btnBar {
    margin-inline: auto !important;
  }
}
@media (max-width:404px) {
  .response{
    margin: 10px auto !important;
  }
}
.mobile-tab-btn {
    font-size: 13px !important;
    color: #6b7280;
    border: none;
    transition: all 0.2s ease-in-out;
}

.mobile-tab-btn:hover:not(.active) {
    background-color: #f7f7f7;
    color: #5D5FEF;
}

.mobile-tab-btn.active {
    background-color: #5D5FEF !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(93, 95, 239, 0.2);
}
