<div class="container-fluid">
  <div class="head d-flex justify-content-center align-items-center flex-column mt-5">
    <img src="/Logo.svg" alt="" />
    <p class="fw-bold mt-2">انضم إلينا</p>
    <p class="text-secondary">منصة StudySync للتنظيم الجامعي</p>
  </div>
  <div class="form container">
    <div class="d-flex justify-content-center align-items-center mt-4">
      <button
      type="button"
      class="btn m-2"
      [class.btn-primary]="registerForm.get('role')?.value==='STUDENT'"
      [class.btn-outline-primary]="registerForm.get('role')?.value!=='STUDENT'"
      (click)="registerForm.get('role')?.setValue('STUDENT')"
      >طالب/طالبة</button>
      <button
      type="button"
      class="btn m-2"
      [class.btn-primary]="registerForm.get('role')?.value!=='STUDENT'"
      [class.btn-outline-primary]="registerForm.get('role')?.value==='STUDENT'"
      (click)="registerForm.get('role')?.setValue('INSTRUCTOR')"
      >محاضر</button>
    </div>
    <form class="" [formGroup]="registerForm" (ngSubmit)="sendData()">
      <label for="fullName">
        الأسم الكامل
        <input
          type="text"
          placeholder="مثال: محمد خالد"
          id="fullName"
          formControlName="fullName"
          [class.invalid]="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched"
        />
        <small
          *ngIf="
            registerForm.get('fullName')?.invalid &&
            registerForm.get('fullName')?.hasError('required') &&
            registerForm.get('fullName')?.touched
          "
        >
          هذا الحقل مطلوب
        </small>
        <small
          *ngIf="
            registerForm.get('fullName')?.invalid &&
            registerForm.get('fullName')?.hasError('minlength') &&
            registerForm.get('fullName')?.touched
          "
        >
          الاسم يجب أن يكون 10 أحرف على الأقل
        </small>
      </label>
      <label for="username">
        اسم المستخدم
        <input
          type="text"
          placeholder="اسم المستخدم"
          id="username"
          formControlName="userName"
          [class.invalid]="
            registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched
          "
        />
        <small
          *ngIf="
            registerForm.get('userName')?.invalid &&
            registerForm.get('userName')?.hasError('required') &&
            registerForm.get('userName')?.touched
          "
        >
          هذا الحقل مطلوب
        </small>
        <small
          *ngIf="
            registerForm.get('userName')?.invalid &&
            registerForm.get('userName')?.hasError('minlength') &&
            registerForm.get('userName')?.touched
          "
        >
          الاسم يجب أن يكون 4 أحرف على الأقل
        </small>
      </label>
      <label for="role"
          *ngIf="registerForm.get('role')?.value !== 'STUDENT'"
        >الصفة الأكاديمية
        <select
          class="text-secondary"
          id="role"
          formControlName="role"
          *ngIf="registerForm.get('role')?.value !== 'STUDENT'"
          [class.invalid]="registerForm.get('role')?.invalid && registerForm.get('role')?.touched"
        >
          <option value="instructorType">اختر...</option>
          <option value="Professor">دكتور</option>
          <option value="TeachingAssistant">معيد</option>
        </select>
        <small
          *ngIf="
            registerForm.get('role')?.touched && registerForm.get('role')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
      </label>
      <label for="seatNumber" *ngIf="registerForm.get('role')?.value == 'STUDENT'">
        رقم الجلوس
        <input type="text" placeholder="" id="seatNumber" formControlName="seatNumber"
        [class.invalid]="registerForm.get('seatNumber')?.invalid && registerForm.get('seatNumber')?.touched" />
        <small
          *ngIf="
            registerForm.get('seatNumber')?.touched &&
            registerForm.get('seatNumber')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
      </label>
      <label for="department"
        >القسم
        <select
          class="text-secondary"
          id="department"
          formControlName="department"
          [class.invalid]="
            registerForm.get('department')?.invalid && registerForm.get('department')?.touched
          "
        >
          <option value="">اختر...</option>
          <option value="CS">علوم الحاسب</option>
          <option value="IT">تكنولوجيا المعلومات</option>
          <option value="IS">نظم المعلومات</option>
        </select>
        <small
          *ngIf="
            registerForm.get('department')?.touched &&
            registerForm.get('department')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
      </label>
      <label for="level"*ngIf="registerForm.get('role')?.value == 'STUDENT'"
        >الفرقة الدراسية
        <select
          name=""
          id="level"
          formControlName="level"
          class="text-secondary"
          [class.invalid]="registerForm.get('level')?.invalid && registerForm.get('level')?.touched"
        >
          <option value="" class="">اختر...</option>
          <option value="ONE">الأولى</option>
          <option value="TWO">الثانية</option>
          <option value="THREE">الثالثة</option>
          <option value="FOUR">الرابعة</option>
        </select>
        <small
          *ngIf="
            registerForm.get('level')?.touched && registerForm.get('level')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
      </label>
      <label for="universityEmail" class="full">
        البريد الجامعي
        <input
          type="universityEmail"
          formControlName="universityEmail"
          id="universityEmail"
          placeholder="name@ics.tanta.edu.eg"
          [class.invalid]="registerForm.get('universityEmail')?.invalid && registerForm.get('universityEmail')?.touched"
        />
        <small
          *ngIf="
            registerForm.get('universityEmail')?.touched &&
            registerForm.get('universityEmail')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
        <small
          *ngIf="
            registerForm.get('universityEmail')?.touched &&
            registerForm.get('universityEmail')?.hasError('pattern')
          "
        >
          الإيميل غير صالح
        </small>
        <p class="text-secondary">
          احصل على البريد الجامعي من القسم الخاص بك (التعليم الإلكتروني [Keywords Extraction])
        </p>
      </label>
      <label for="password" class="full">
        كلمة المرور
        <input
          type="password"
          name=""
          id="password"
          placeholder="••••••••"
          formControlName="password"
          [class.invalid]="
            registerForm.get('password')?.invalid && registerForm.get('password')?.touched
          "
        />
        <small
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.hasError('required')
          "
        >
          هذا الحقل مطلوب
        </small>
        <small
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.hasError('minlength')
          "
        >
          كلمة المرور يجب أن تكون 8 أحرف على الأقل
        </small>
        <small
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.errors?.['pattern']
          "
        >
          كلمة المرور ضعيفة
        </small>
      </label>
      <div
        class="upload-Box full"
        (click)="fileInput.click(); registerForm.get('idCardPath')?.markAsTouched()"
        [class.invalid]="
          registerForm.get('idCardPath')?.invalid && registerForm.get('idCardPath')?.touched
        "
      >
        <label for="" class="full"
          >صورة البطاقة الجامعية
          <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
          <div
            class="content d-flex flex-column justify-content-center align-items-center"
            *ngIf="!imagePreview"
          >
            <i class="fa-solid fa-arrow-up-from-bracket fa-2xl m-2"></i>
            <p class="m-2">اضغط لتحميل صورة البطاقة الجامعية</p>
          </div>
        </label>
        <img *ngIf="imagePreview" [src]="imagePreview" alt="" class="w-100 " style="height:300px ;"/>
        <small
          *ngIf="
            registerForm.get('idCardPath')?.touched &&
            registerForm.get('idCardPath')?.hasError('required')
          "
        >
          يجب تحميل صورة البطاقة الجامعية لإتمام التسجيل
        </small>
      </div>
      <div class="full">
        <label for="">
          <button class="btn btn-primary w-50 mx-auto " type="submit" [disabled]="!registerForm.valid">
            إتمام التسجيل
          </button>
        <small class="text-success text-center"
          *ngIf="
            isSubmmited
          "
        >
        تم انشاء الحساب بنجاح
        </small>
        <small class="text-center"
          *ngIf="
            hasError
          "
        >
        فشل انشاء الحساب يرجى المحاولة مرة اخرى
        </small>
        </label>
      </div>
      <div class="full">
        <p class="text-secondary have-acc"> لديك حساب بالفعل؟ <a routerLink="/login">سجل الدخول</a></p>
      </div>
      <div class="full text-center"><a routerLink="/landing">

        العودة إلى الصفحة الرئيسية
      </a></div>
    </form>
  </div>
</div>
