.image{
  background-image: url("/home.svg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 8px;
}
.btnAnnoun{
  background-color: rgba(255,255,255,20%);
}
@media(max-width: 991px){
  .image{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width:776px) {
  .image{
    text-align: center !important;
  }
  .btns{
    justify-content: center !important;;
  }
}
