:root{
  --main-primary: linear-gradient(135deg, #6366F1 0%, #393B8B 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #FAFAFA;
  font-family: 'Cairo', sans-serif !important;
}
.invalid{
  border-color: rgba(255, 54, 54, 0.877) ;
}
.fa-solid, .fa-regular, .fa-brands {
  vertical-align: middle;
  margin-left: 8px;
}

